.login {
  background: #68ada8;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.login-container {
  border-radius: 5px;
  margin: 0 auto;
  padding: 50px;
  width: 500px;
  min-width: 30%;
  text-align: center;
}

.login-container .admin-input {
  padding: 7px 0;
}

.login-btn {
  background: #9eec89;
  color: rgb(180, 13, 158);
  margin: 7px 0 15px 0;
  width: 100%;
}

.login-btn:hover {
  background: #6bc452;
}

.reset-btn {
  background: #f6ff95;
  color: rgb(77, 26, 178);
  margin-top: 7px;
  width: 100%;
}

.reset-btn:hover {
  background: #dff64b;
}

.blog-btn {
  margin: 60px 0 25px 0;
  background: #a03fa5;
  color: #ffff;
  border: 2px solid #a03fa5;
}

.blog-btn:hover {
  background: #efe6f4;
  color: #a03fa5;
  border: 2px solid #a03fa5;
}

/* .class {
  background: #df7760;
} */
